<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="BHM.master.cs" Inherits="Learning_System.SuperAdmin.BHM.BHM" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>BHM Admin</title>
    <link href="../../Past_Year_Paper/MCS/mcsdash.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../Scripts/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <form id="form1" runat="server">
         <!--NAV-->
        <div class="container-fluid">
           
  <div class="row">
    <div class="col-sm-2">
        <img src="../../slide/logo.png" style="margin-left:0px; padding:10px; margin-top:0px; width:190px; height:80px;" />
    </div>
    <div class="col-sm-7">
        <h3 style="text-align:center; font-weight:bold; font-size:40px; color:#002366; margin-top:20px;">WELCOME TO BHM ADMIN</h3>
    </div>
    <div class="col-sm-3">
        <div style="margin-top:5px; padding:10px; text-align:right;">
        <asp:LinkButton ID="Linklogin" runat="server" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" OnClick="Linklogin_Click">LogOut</asp:LinkButton>
    </div>
    </div>
  </div>
            <hr />

         <div class="row">
                <div>
        <div class="btnn">
            <span class="fas fa-bars"></span>
        </div>
        <nav class="Sidebar" id="sidebar-wrapper"" >
            <div class="text">BHM Admin</div>
            <ul>
                   <li class="sidebar-dropdown">
                    <a href="#" class="first-btn">First Sem
                        <span class="fas fa-caret-down first"></span>
                    </a>
                       <div class="sidebar-submenu">
                    <ul class="first-show">
                        <li><a href="#">MCS 2016</a></li>
                        <li><a href="#">MCS 2017</a></li>
                        <li><a href="#">MCS 2018</a></li>
                        <li><a href="#">MCS 2019</a></li>
                        <li><a href="#">MCS 2020</a></li>
                        <li><a href="#">MCS 2021</a></li>
                    </ul>
                           </div>
                    </li>

                <li class="sidebar-dropdown">
                    <a href="#" class="Second-btn">Second Sem
                        <span class="fas fa-caret-down second"></span>
                    </a>
                    <div class="sidebar-submenu">
                    <ul class="Second-show">
                        <li><a href="#">MCS 2016</a></li>
                        <li><a href="#">MCS 2017</a></li>
                        <li><a href="#">MCS 2018</a></li>
                        <li><a href="#">MCS 2019</a></li>
                        <li><a href="#">MCS 2020</a></li>
                        <li><a href="#">MCS 2021</a></li>
                    </ul>
                        </div>
                    </li>

                <li class="sidebar-dropdown">
                    <a href="#" class="third-btn">Third Sem
                        <span class="fas fa-caret-down third"></span>
                    </a>
                     <div class="sidebar-submenu">
                    <ul class="third-show">
                        <li><a href="#">MCS 2016</a></li>
                        <li><a href="#">MCS 2017</a></li>
                        <li><a href="#">MCS 2018</a></li>
                        <li><a href="#">MCS 2019</a></li>
                        <li><a href="#">MCS 2020</a></li>
                        <li><a href="#">MCS 2021</a></li>
                    </ul>
                         </div>
                    </li>

                <li class="sidebar-dropdown">
                    <a href="#" class="Fourth-btn">Fourth Sem
                        <span class="fas fa-caret-down fourth"></span>
                    </a>
                    <div class="sidebar-submenu">
                    <ul class="fourth-show">
                        <li><a href="#">MCS 2016</a></li>
                        <li><a href="#">MCS 2017</a></li>
                        <li><a href="#">MCS 2018</a></li>
                        <li><a href="#">MCS 2019</a></li>
                        <li><a href="#">MCS 2020</a></li>
                        <li><a href="#">MCS 2021</a></li>
                    </ul>
                        </div>
                    </li>
                </ul>

                 
        </nav>
                   
    
        <script>
                $('.btnn').click(function () {
                    $(this).toggleClass("click");
                    $('.Sidebar').toggleClass("show");//toggle btn
                   
                });
                $('.first-btn').click(function () {
                    $('nav ul .first-show').toggleClass("show");
                    $('nav ul .first').toggleClass("rotate");
                  

                });//first sem

                $('.Second-btn').click(function () {
                    $('nav ul .Second-show').toggleClass("show1");
                    $('nav ul .second').toggleClass("rotate");
                   

                });//second sem,

                $('.third-btn').click(function () {
                    $('nav ul .third-show').toggleClass("show2");
                    $('nav ul .third').toggleClass("rotate");
                   

                });//third sem

                $('.Fourth-btn').click(function () {
                    $('nav ul .fourth-show').toggleClass("show3");
                    $('nav ul .fourth').toggleClass("rotate");
                    

                });//forth sem

                $('nav ul li').click(function () {
                    $(this).addClass("active").siblings().removeClass("active");
                });

        </script>
        </div>
                </div>
        <!--NAV-->
        <div class="row">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
            </div>
    </form>
</body>
</html>
