<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="upload.master.cs" Inherits="Learning_System.Mba_Admin.upload" %>


<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="mcsdash.css" rel="stylesheet" />
    <!-- jQuery -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <style>
        /* Sidebar Styles */
        #sidebar {
            position: fixed;
            top: 5rem;
            left: 0;
            width: 0;
            /* height: calc(100vh - 5rem)*/;
            height: 100vh;
            background-color: #343a40;
            color: #fff;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 999;
            transition: width 0.3s ease;
        }

        #content {
            margin-top: 5rem; /* Adjusted to account for navbar height */
            margin-left: 0;
            width: 100%;
            transition: margin-left 0.3s ease;
        }

        #sidebar a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 0.5rem 1rem;
        }

            #sidebar a:hover {
                background-color: #495057;
            }

        #sidebar ul {
            padding: 0;
            list-style: none;
            margin: 0;
        }

            #sidebar ul li {
                padding: 0;
            }

        #sidebar .submenu {
            display: none;
            padding-left: 1rem;
        }

        /* Open Sidebar Styles */
        .sidebar-open #sidebar {
            width: 30%;
        }

        .sidebar-open #content {
            margin-left: 30%;
        }

        .submenu-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        /* Toggle Icon Styles */
        .fas.fa-caret-down {
            transition: transform 0.3s ease;
            font-size: 1rem;
        }

        .rotate {
            transform: rotate(180deg);
        }

        /* Responsive Menu Bar */
        #menu-bar {
            padding-top: 6rem; /* Adjusted for the fixed navbar */
            position: fixed;
            left: 1rem;
            z-index: 1000;
        }

        /* Media Queries */
        @media (max-width: 768px) {
            #menu-bar {
                left: 0.3rem;
                top: -4.5rem;
                padding: 0;
            }

                #menu-bar button {
                    font-size: 1.5rem;
                    padding: 10px;
                }

            .sidebar-open #sidebar {
                width: 60%;
            }

            .sidebar-open #content {
                margin-left: 60%;
                width: 40%;
            }

            #content {
                padding-top: 10%;
                width: 100%;
                margin-left: 0px;
                padding-left: 2rem;
            }
        }

        @media (max-width: 576px) {
            #menu-bar button {
                font-size: 1.2rem;
                margin-top: 10rem;
            }

            .sidebar-open #sidebar {
                width: 75%;
            }

            .sidebar-open #content {
                margin-left: 75%;
                width: 25%;
            }

            #sidebar {
                display: block;
            }

            /* Default height */


        }

        /* Expanded menu */
        #menu.expanded {
            transition: height 0.3s ease;
            padding-bottom: 220px;
        }
    </style>
    <title>MBA ADMIN </title>
</head>
<body>
    <form id="form2" runat="server">

        <!-- Header -->
        <nav class="navbar navbar-expand-md d-flex align-items-center justify-content-between flex-wrap" style="position: fixed; top: 0; left: 0; width: 100%; height: 6rem; background-color: #f8f9fa; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); z-index: 1000; padding: 0 1rem;">
            <!-- Logo Section -->
            <div class="d-flex align-items-center" style="flex: 1; justify-content: flex-start;">
                <a href="../../Default.aspx">
                    <img src="logo/logo.png" alt="Logo" class="img-fluid" style="width: 10rem; height: 4rem; object-fit: contain;">
                </a>
            </div>
            <!-- Title Section -->
            <div class="d-none d-sm-flex align-items-center justify-content-center" style="flex: 1;">
                <h3 style="font-size: 1.5rem; font-weight: bold; color: #002366; margin: 0;">Texas Learning System</h3>
            </div>
            <!-- Logout Button Section -->
            <div class="d-flex align-items-center" style="flex: 1; justify-content: flex-end;">
                <asp:LinkButton ID="Linklogin" runat="server" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" OnClick="Linklogout_Click">Logout</asp:LinkButton>

            </div>
        </nav>



        <div id="menu" class="navbar navbar-expand-md navbar-light" style="background-color: #002366; height: 100px; top: 6rem;">
            <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Menu Items -->
            <div class="collapse navbar-collapse bg-black" id="navbarSupportedContent">
                <asp:Menu ID="Menu1" runat="server" Orientation="horizontal" CssClass="navbar-nav mr-auto" StaticMenuStyle-CssClass="nav-item"
                    StaticSelectedStyle-CssClass="nav-item" DynamicMenuStyle-CssClass="nav-item dropdown-menu" RenderingMode="List" role="menu" itemscope="itemscope"
                    Font-Bold="True" Font-Names="Corbel Light" Font-Size="Medium" ForeColor="White" StaticEnableDefaultPopOutImage="false">

                    <DynamicMenuStyle CssClass="nav-item dropdown-menu" VerticalPadding="0px"></DynamicMenuStyle>
                    <DynamicSelectedStyle BackColor="#666666" />
                    <Items>
                        <asp:MenuItem Text="Dashboard" Value="Dashboard" NavigateUrl="~/Mba_Admin/dash.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="1st Semester" Value="1st Semester">
                            <asp:MenuItem Text="Business Accounting & Finance" Value="Business Accounting & Finance" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=ACC"></asp:MenuItem>
                            <asp:MenuItem Text="Business Economics" Value="Business Economics" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=ECO"></asp:MenuItem>
                            <asp:MenuItem Text="Human Resource Management" Value="Human Resource Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=HRM"></asp:MenuItem>
                            <asp:MenuItem Text="Managerial Communications" Value="Managerial Communications" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=MC"></asp:MenuItem>
                            <asp:MenuItem Text="Business Environment Analysis" Value="Business Environment Analysis" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=BEA"></asp:MenuItem>
                        </asp:MenuItem>

                        <asp:MenuItem Text="2nd Semester" Value="2nd Semester">
                            <asp:MenuItem Text="Research Methodology" Value="Research Methodology" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=RM"></asp:MenuItem>
                            <asp:MenuItem Text="Operation Management" Value="Operation Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=OM"></asp:MenuItem>
                            <asp:MenuItem Text="Marketing Management" Value="Marketing Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=MM"></asp:MenuItem>
                            <asp:MenuItem Text="Organizational Behavior" Value="Organizational Behavior" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=OB"></asp:MenuItem>
                        </asp:MenuItem>

                        <asp:MenuItem Text="3rd Semester" Value="3rd Semester">
                            <asp:MenuItem Text="Strategic Management" Value="Strategic Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=SM"></asp:MenuItem>
                            <asp:MenuItem Text="Financial Management" Value="Financial Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=FM"></asp:MenuItem>
                            <asp:MenuItem Text="Entrepreneurship Management" Value="Entrepreneurship Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=EM"></asp:MenuItem>
                            <asp:MenuItem Text="Sales & Promotions Management" Value="Sales & Promotions Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=SPM"></asp:MenuItem>
                            <asp:MenuItem Text="International Business" Value="International Business" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=IB"></asp:MenuItem>
                            <asp:MenuItem Text="Human Resource Development & Leadership" Value="Human Resource Development & Leadership" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=HRD"></asp:MenuItem>
                        </asp:MenuItem>

                        <asp:MenuItem Text="4th Semester" Value="4th Semester">
                            <asp:MenuItem Text="Banking & Insurance" Value="Banking & Insurance" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=BI"></asp:MenuItem>
                            <asp:MenuItem Text="Customer Relationship Management" Value="Customer Relationship Management" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=CRM"></asp:MenuItem>
                            <asp:MenuItem Text="Conflict Management & Negotiation Skills" Value="Conflict Management & Negotiation Skills" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=CMN"></asp:MenuItem>
                            <asp:MenuItem Text="Management of Data" Value="Management of Data" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=MOD"></asp:MenuItem>
                            <asp:MenuItem Text="Business Ethics & Governance" Value="Business Ethics & Governance" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=BEG"></asp:MenuItem>
                            <asp:MenuItem Text="Graduate Research Project Paper" Value="Graduate Research Project Paper" NavigateUrl="~/Mba_Admin/course_content.aspx?subject=GRP"></asp:MenuItem>
                        </asp:MenuItem>


                    </Items>

                    <LevelMenuItemStyles>
                        <asp:MenuItemStyle CssClass="dropdown-item" HorizontalPadding="15px" Height="50px" VerticalPadding="15px" />
                    </LevelMenuItemStyles>
                    <LevelSelectedStyles>
                        <asp:MenuItemStyle CssClass="nav-item active" Font-Underline="False" />
                    </LevelSelectedStyles>
                    <StaticHoverStyle Font-Underline="true" ForeColor="#f21f82" BackColor="#002366" Font-Bold="True" Font-Size="Large" />

                    <StaticMenuStyle CssClass="nav-item"></StaticMenuStyle>

                    <StaticSelectedStyle Font-Bold="true" />
                    <DynamicHoverStyle BackColor="#F21F82" />
                    <DynamicMenuItemStyle CssClass="dropdown-item" BackColor="#002366" BorderStyle="None" />
                </asp:Menu>
            </div>
        </div>




        <div class="d-flex justify-content-center align-items-center ">
            <!-- Content Area -->
            <div id="content" style="margin-top: 150px;">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>

        </div>
        <div class="container-fluid mt-5" style="text-align: center; height: 100px; color: white; background-color: #002366">
            Copyright @ texas lerning portal- 2021/22 
        </div>

        <script>
document.addEventListener('DOMContentLoaded', function () {
    var navbarToggler = document.querySelector('.navbar-toggler');
    var navbar = document.getElementById('menu');
    var collapse = document.querySelector('#navbarSupportedContent');

    navbarToggler.addEventListener('click', function () {
        if (collapse.classList.contains('show')) {
            navbar.classList.remove('expanded');
        } else {
            navbar.classList.add('expanded');
        }
    });
});
</script>
    </form>

</body>
</html>










