<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Pastyerapaper.master.cs" Inherits="Learning_System.Past_Year_Paper.Pastyerapaper" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
